@font-face {
    font-family: medievalFont;
    src: url(./fonts/PirataOne-Regular.ttf);
}
* {
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

body {
 background: url("./images/map.jpg") no-repeat center center fixed;
 background-color: blue;
 background-size: cover;
 height: 100%;
 overflow: hidden; 
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    background-color: rgba(128, 128, 128, 0.4);
    height: 60px;
}
.header-buttons {
    background-color: rgb(241, 240, 154);
    font-family: medievalFont;
    font-size: 18px;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0%;
    margin-right: 0%;
    
}
.header-buttons:active {
    width: 5%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
h1 {
    margin-top: 40px;
    text-align: center;
    
}
.legendContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-buttons {
    background: none;
    font-family: medievalFont;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px
}
i:hover {
    color: red;
    cursor: pointer;
}
.leyenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin-top: 30px;
    width: 60%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.3);    
}
.newStorySection {
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    width: 80%;
    height: 90%;
    background: url("./images/images.jpg") no-repeat center center fixed;
    overflow: hidden;
    background-size: cover;
    background-color: blue;
}
.storyImage {
    width: 50%;
    height: 180px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 3px;
}
.storyText {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 80%;     
    background-color: rgb(241, 240, 154);
    font-family: medievalFont;
    font-size: 18px;
    border: 2px solid rgb(10, 10, 10);
}

.playerContainer {
    margin-top: 20px;
    display: none;
}
.players {
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.playerCard {
    background-color: rgb(89, 65, 145);
    border-radius: 4%;
    width: 20vw;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;       
}
.playerImage {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;        
}
.playerImage img {
    border-radius: 4%;
    margin-left: 2.5%;
    width: 95%;
    height: 250px;
}
.playerCard p {
    font-family: medievalFont;
    font-size: 18px;
    background-color: rgb(241, 240, 154);
    width: 95%;
    border-radius: 4%; 
    padding-left: 4px;   
}
.playerCard button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 18px;
    font-family: medievalFont;
    padding: 2px 4px 2px 4px; 
    background-color: rgb(241, 240, 154);   
}
.playerCard button:hover {
    background-color: rgb(212, 87, 48);
}
